<h1>Dear <%= @user.first_name %>,</h1>

<p>Thank you for becoming a registered user at Fortnite Elo Boosting!</p>

Here is your account information:

<%= render 'partials/account_information', user: @user %>

<p>Thanks for joining and have a great day!</p>
