<em>Order Number: #<%= @order.invoice %></em>
<ul>
<% @order.order_items.each do |item| %>
  <li><%= description(item) %></li>
<% end %>
</ul>

<b><%= coupon(@order) %></b>
<p>Total: <%= total(@order) %></p>
